// colors

$text-color: #757575;
$header-text-color: #212121;
$acent-color: #2196f3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-white-color: #ffffff;
$filter-button-color: #f5f4fa;
$label-color: #757575;

// font-size
$basic-font-size: 14px;
